/*--------------------------------------------------Fontes*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/*--------------------------------------------------Configuração Padrão*/
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}
* {
  outline: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
ul,
ol,
li {
  list-style: none;
}
/*--------------------------------------------------Scroll bar*/
body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 1px;
  border: 10px solid #bababa;
}
/*--------------------------------------------------Hamb. Menu*/
.container {  
  cursor: pointer;
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #49da57;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
#menuhamb {
  display: none;
}
/*--------------------------------------------------Footer*/
.containerfooter {
  display: flex;
  background-color: #ffffff;
  height: 500px;
}
.footertitle {
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
}
.footerwrite {
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 17px;
  width: 20vw;
}
.box-1 {
  padding-left: 13vw;
  padding-top: 50px;
}
.box-2 {
  padding-left: 13vw;
  padding-right: auto;
  padding-top: 50px;
}
.box-3 {
  padding-left: 13vw;
  padding-top: 50px;
}
#map{
  width: 90%;
  height: 37%;
}
/*--------------------------------------------------Tela inicial*/
#telaInicial {
  width: 100vw;
  height: 100vh;
  padding: 0 120px 0 120px;
}
#header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}
#headerBox1 {
  padding-top: 26px;
}
#headerBox2 {
  padding-top: 84px;
}
#headerBox2 > ul{
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
#headerBox2 > ul > li > a:hover{
  color: #49da57;
}
#imgLogo {
  height: 124px;
  width: 120px;
}
#corpoTelaInicial {
  display: flex;
  height: 80%;
}
#corpoTelaInicialEsquerdo {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
}
#corpoTelaInicialEsquerdoBox{
  width: 441px;
  height: 400px;
}
#corpoTelaInicialEsquerdoBox > h1 {
  text-decoration: none;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #49da57;
  font-size: 28px;
  font-weight: bold;
}
#corpoTelaInicialEsquerdoBox > p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-top: 40px;
}
#corpoTelaInicialEsquerdoBox > button {
  height: 74px;
  width: 272px;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-style: none;
  background-color: #49da57;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #F6FF45;
  margin-top: 30px;
}
#corpoTelaInicialEsquerdoBox > button:hover{
  cursor: pointer;
}
#corpoTelaInicialEsquerdoBox > button > img {
  height: 39px;
  width: 39px;
  vertical-align: -10px;
}
#corpoTelaInicialDireito {
  width: 50%;
  display: flex;
  align-items: center;
}
#imagemAPK {
  height: 600px;
}
/*--------------------------------------------------Tela secundária*/
#telaSecundaria{
  background-color: #f6ff4535;
}
#subtitulo{
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #49da57;
  text-align: center;
  padding: 50px 0 20px 0;
}
#telaSecundariaDivisaoDeColunas{
  display: flex;
  text-align: justify;
}
#telaSecundariaColuna1, #telaSecundariaColuna2 {
  width: 50%;
  padding: 0 100px 0 100px;
}
#telaSecundariaColuna1 > p, #telaSecundariaColuna2 > p{
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
}
#telaSecundariaCriadores{
  display: flex;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #49da57;
  font-weight: bold;
}
#imgLuiz, #imgTaina{
  height: 250px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transition-duration: 0.5s;
}
#imgLuiz:hover, #imgTaina:hover{
  scale: 1.1;
}
/* --------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 1200px){
  .container {
    display: inline-block;
  }
  
#menuhamb {
  display: none;
  text-align: center;
  width: 100vw;
  background-color: #49da57;
  padding-left: 0px;
  color: #F6FF45;
  transition: 0.5s;
  opacity: 1;
  transition: opacity 2s;
}
#menuhamb.escondido {
  opacity: 0;
  transition: opacity 2s;
}
#menuhamb.aparecer {
  opacity: 1;
  transition: opacity 2s;
}
#menuhamb > li{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 5px;
}
#menuhamb > li > a:hover{
  color: #F6FF45;
}
  /*--------------------------------------------------Tela inicial*/
  #telaInicial {
    width: 100vw;
    height: auto;
    padding: 0 0 0 0;
  }
  #header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
  }
  #headerBox1 {
    padding-top: 0;
  }
  #headerBox2 {
    padding-top: 40px;
    padding-right: 20px;
  }
  #headerBox2 > ul{
    display: none;
  }
  #imgLogo {
    height: 100px;
    width: auto;
  }
  #corpoTelaInicial {
    display: flex;
    flex-direction: column-reverse;
    height: 80%;
  }
  #corpoTelaInicialEsquerdo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #corpoTelaInicialEsquerdoBox{
    width: 441px;
    height: 400px;
  }
  #corpoTelaInicialEsquerdoBox > h1 {
    text-decoration: none;
    line-height: normal;
    font-family: "Montserrat", sans-serif;
    color: #49da57;
    font-size: 24px;
    font-weight: bold;
  }
  #corpoTelaInicialEsquerdoBox > p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin-top: 40px;
  }
  #corpoTelaInicialEsquerdoBox > button {
    font-size: 24px;
  }
  #corpoTelaInicialEsquerdoBox > button:hover{
    cursor: pointer;
  }
  #corpoTelaInicialEsquerdoBox > button > img {
    height: 35px;
    width: 35px;
    vertical-align: -10px;
  }
  #corpoTelaInicialDireito {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #imagemAPK {
    height: 80vw;
  }
  /*--------------------------------------------------Tela secundária*/
  #subtitulo{
    font-size: 24px;
    padding: 30px 0 20px 0;
  }
  #telaSecundariaDivisaoDeColunas{
    flex-direction: column;
  }
  #telaSecundariaColuna1, #telaSecundariaColuna2 {
    width: 100%;
    padding: 0 10px 0 10px;
  }
  #telaSecundariaColuna1 > p, #telaSecundariaColuna2 > p{
    font-size: 16px;
    padding: 0;
    margin: 0;
    padding: 10px 0 10px 0;
  }
  #telaSecundariaCriadores{
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
  }
  #imgLuiz, #imgTaina{
    height: 200px;
    transition-duration: 0.5s;
  }
  #imgLuiz:hover, #imgTaina:hover{
    scale: 1.2;
  }
  /*--------------------------------------------------Footer*/
.containerfooter {
  flex-direction: column;
  height: auto;
  width: 100%;
}
.footertitle {
  font-size: 18px;
}
.footerwrite {
  font-size: 16px;
  width: 100%;
}
.box-1 {
  padding: 10px;
  padding-top: 0;
}
.box-2 {
  padding: 10px;
  padding-top: 0;
}
.box-3 {
  padding: 10px;
  padding-top: 0;
}
#map{
  width: 100%;
  height: 37%;
}
}
